footer{
    background: black;
    display: flex;
    justify-content: space-between;
    color:#ffffff;
    font-size: 15px;
    padding: 10px;
}
footer i{
    margin: auto 0;
    font-size: 25px;
    padding: 15px;
}