.index{
    background: linear-gradient(270deg, #833ab4, #f75757);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
}
.DeusEx{
    background: black;
    display: flex;
    color: #f4ab42;
    padding: 50px 0;
    height: 100vh;
    align-items: center;
}
.DeusEx div{
    padding: 10px;
}
.DeusEx a{
    border: 1px solid #f4ab42;
    background: transparent;
    color: #f4ab42;
    border-radius: 1rem;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

/**/
.synergy{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    color: #f2f2f2;
}
.twoFace{
    display: flex;
    img{
        height: 59vh;
        transition: 1s;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    img:first-child{
      transform: translateY(-10%);   
    }
    img:last-child{
        transform: translateY(10%);   
    }
}
.twoFace:hover{
    img:first-child{
        transform: translateY(0);   
      }
      img:last-child{
          transform: translateY(0);   
      }
}
.index__psychology{
    img{
        animation: psyc 2s infinite alternate;
        @keyframes psyc {
            0%{
                transform: rotateY(0deg);
            }
            25%{
                transform: rotateY(-30deg);
            }
            50%{
                transform: rotateY(0deg);
            }
            75%{
                transform: rotateY(30deg);
            }
            100%{
                transform: rotateY(30deg);
            }
        }
    }
}