/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato|Sorts+Mill+Goudy&display=swap');

/*Pages*/
@import 'index';
@import 'header';
@import 'footer';
@import 'animation';
@import 'psychology';

body{
    display:  flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}